{%  extends 'Shopping/base.html' %}
{% block left_panel %}
{% endblock %}
{% block Name %}{{user}}{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
body {
    background: #6610f2;
    background: -webkit-linear-gradient(59deg, #17a2b8,Black);
    background: linear-gradient(180deg, #17a2b8,Black);
}
    </style>



<table class="table table-light table-bordered" style="width:90%;margin-top:60px;margin-right:10px;margin-left:40px; margin-bottom:210px;">
    <thead class="thead-dark">
    <tr >
        <th style="text-align:center;" scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Bill Number</th>
        <th scope="col">Payment</th>
        <th scope="col">Date</th>
        <th scope="col">Detail</th>
    </tr>
    </thead>
    <tbody>
    {% for i in All %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.Receiver}}</td>
        <td>{{i.Bill_number}}</td>
        <td>{{i.Amount}}</td>
        <td>{{i.Date}}</td>
        <td><a style="color:black" href="{% url 'bill_detail' bill_number=i.Bill_number %}">>>>Details </a></td>
    </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock %}