{%  extends 'Shopping/base.html' %}
{% block left_panel %}
{% endblock %}
{% block Name %}{{user}}{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
body {
}
    </style>
<div class="text-white  text-center" style="padding:3px;background-color:#5a88ca;margin-top:50px;">
    <h1 class="display-4"> Bills </h1>
    <p class="lead mb-0">We Provide Your Desires</p>
</div>



<table class="table table-light table-bordered" style="width:90%;margin-right:10px;margin-left:40px; margin-bottom:210px;background-color:white;">
    <thead class="" style="background-color:black;color:white;">
    <tr >
        <th style="text-align:center;" scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Bill Number</th>
        <th scope="col">Payment</th>
        <th scope="col">Date</th>
        <th scope="col">Detail</th>
    </tr>
    </thead>
    <tbody>
    {% for i in All %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.Receiver}}</td>
        <td>{{i.Bill_number}}</td>
        <td>{{i.Amount}}</td>
        <td>{{i.Date}}</td>
        <td><a style="color:black" href="{% url 'bill_detail' bill_number=i.Bill_number %}">>>>Details </a></td>
    </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock %}