{%  extends 'Shopping/base.html' %}
{% block left_panel %}
{% endblock %}
{% block Name %}{{User}}{% endblock %}

{% block content %}


    <style>
#navbar{
color:black;
background-color:#f2f2f2;
}


    </style>

{% if messages %}
{% for i in messages %}

<h5 style="margin-top:50px;text-align:center;background-color:Red;width:100%">{{i}}</h5>

{% endfor %}
{% endif %}

<div class="px-4 px-lg-0" >
    <!-- For demo purpose -->
    <!-- End -->
    <div class="text-white  text-center" style="padding:3px;margin-top:50px;background-color:#5a88ca;">
        <h1 class="display-4"> Thanks {{User}} For Choosing Our Services</h1>
        <p class="lead mb-0">We Provide Your Desires</p>
    </div>
    <div class="pb-5" style="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                    <!-- Shopping cart table -->
                    <div >
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="p-2 px-3 text-uppercase">#</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="p-2 px-3 text-uppercase">Product</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="p-2 px-3 text-uppercase text-center">Unit-Price</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase text-center">Quantity</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase text-center">Total</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase text-center">Update</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase text-center">Remove</div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in All %}
                            <tr>
                                <td scope="row" class="text">{{forloop.counter}}</td>
                                <td scope="row" class="text">{{i.title}}</td>
                                <td class="text-center"><strong>{{i.Price}}</strong></td>
                                <td class="text-center"><strong>{{i.Quantity}}</strong></td>
                                <td class="text-center"><strong>{{i.Total}}</strong></td>
                                <td class="text-center"><a href="{% url 'Details1' i.title %}" class="text-dark"><i>Update</i></a></td>
                                <td class="text-center"><a href="{% url 'delete_item' pk=i.title %}" class="text-dark"><i>Delete</i></a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- End -->
                </div>
            </div>

            <div class="row py-5 p-4 bg-white rounded shadow-sm" style="padding:0px;">
                <div class="col-lg-6" style="margin:0px 240px">
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
                    <div class="p-4">
                        <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
                        <ul class="list-unstyled mb-4">
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>{{order_total}}</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping</strong><strong>{{Shipping}}</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Net_Total</strong>
                                <h5 class="font-weight-bold">{{Net_Bill}}</h5>
                            </li>
                        </ul>
                        {% if All|length > 0 %}
                        <a href="{% url 'checkout' %}" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}
