{% extends 'Shopping/Admin_base.html'%}
{% block content %}

<div style="margin-top:52px;">
    {% if messages %}
    {% for i in messages %}
    <h5 style="text-align:center;background-color:Red;width:100%">{{i}}</h5>
    {% endfor %}
    {% endif %}
    <div class="container" style="margin-top:5px;">
        <div class="row" style="width:1000px;height:350px;margin-bottom:550px;">
            {% for i in All_items %}
            <div class="col-md-3" style="float:none;position:static">
                <div class="card mb-4" style="box-shadow: 0 4px 8px 0 grey;" >
                    <img src="{{i.Picture.url}}" width="auto" height="200px">
                    <div class="card-body" style="background:-webkit-linear-gradient(59deg,#17a2b8, white);background: linear-gradient(180deg,#17a2b8, white);padding:0px;text-align:center;">
                        <h4><a style="color:black;" href="{% url 'Details1' i.title %}"><strong>{{i.title|slice:"0:20"}}</strong></a></h4>
                        <hr style="margin:2px;"/>
                        <small class="text-muted">BDT {{i.Price}}</small>
                        <a href="{% url 'del_item' i.title %}" class="btn btn-sm btn-outline-secondary">Delete</a>
                        <hr style="margin:2px;"/>
                        {% if not i.Recommended %}
                        <a href="{% url 'recommendedadmin' name=i.title %}" class="btn btn-sm btn-outline-secondary">Recommend to User</a>

                        {% else %}
                        <a href="{% url 'del_recommendedadmin' name=i.title %}" class="btn btn-sm btn-outline-secondary">Remove from recommend list</a>
                        {% endif %}

                        <br/>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div style="margin-bottom:50px;"></div>

<!--<nav style="position:static;margin-top:120px;margin-left:500px;" aria-label="Page navigation example">-->
<!--    <ul class="pagination">-->
<!--        {% if All_items.has_previous %}-->
<!--        <li class="page-item"><a class="page-link" href="?page={{All_items.previous_page_number}}">Previous</a></li>-->
<!--        {% endif %}-->
<!--        {% for i in All_items.paginator.page_range %}-->
<!--        {% if Data.number == i %}-->
<!--        <strong style="font-size:30px;">{{i}}</strong>-->
<!--        {% elif i > All_items.number|add:'-2' and i < All_items.number|add:'2' %}-->
<!--        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>-->
<!--        {% endif %}-->
<!--        {% endfor %}-->

<!--        {% if All_items.has_next %}-->
<!--        <li class="page-item"><a class="page-link" href="?page={{All_items.next_page_number}}">Next</a></li>-->
<!--        {% endif %}-->

<!--    </ul>-->
<!--</nav>-->

{% endblock %}