{% extends 'Shopping/Admin_base.html' %}
{% block content %}


<style>
body {
    background: #6610f2;
    background: -webkit-linear-gradient(59deg, #17a2b8,Black);
    background: linear-gradient(180deg, #17a2b8,Black);
}


    </style>

<div class="px-4 px-lg-0" >
    <!-- For demo purpose -->
    <div class="container text-white py-5 text-center" style="">
        <h1 class="display-4">Pending Orders</h1>
    </div>
    <!-- End -->

</div>
<table style="text-align:center;margin-left:50px; width:90%;" class="table table-light table-bordered">
    <thead class="thead-dark">
    <tr >
        <th style="text-align:center;" scope="col">#</th>
        <th style="text-align:center;" scope="col" >Receiver</th>
        <th style="text-align:center;" scope="col">Amount</th>
        <th style="text-align:center;" scope="col">Order Date</th>
        <th style="text-align:center;" scope="col">Dispatch</th>
        <th style="text-align:center;" scope="col">Details</th>
    </tr>
    </thead>
    <tbody>
    {% for i in All_items %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.Receiver_Name}}</td>
        <td>{{i.Amount}}</td>
        <td>{{i.Date}}</td>
        <td><a href="{% url 'Dispatch' user=i.Receiver_Name bill=i.Bill_number %}" style="color:black;">Go ></a></td>
        <td><a href="{% url 'OrderDetail' user=i.Receiver_Name bill=i.Bill_number %}" style="color:black;">Go ></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
