{% extends 'Shopping/Admin_base.html' %}

{% block content %}

<style>
body {
    background: #6610f2;
    background: -webkit-linear-gradient(59deg, #17a2b8,Black);
    background: linear-gradient(180deg, #17a2b8,Black);
}
    </style>
<div id="B">
<div class="px-4 px-lg-0" >
    <!-- For demo purpose -->
    <div class="container text-white py-5 text-center" style="">
        <h1 class="display-4">All Stock </h1>
        {% if messages %}
        {% for i in messages %}
        <h5 style="text-align:center;background-color:green;width:100%">{{i}}</h5>
        {% endfor %}
        {% endif %}

    </div>
    <!-- End -->

</div>
    <table style="text-align:center;margin-left:55px; width:90%;" class="table table-light table-bordered">
        <thead class="thead-dark">
        <tr >
            <th style="text-align:center;" scope="col">#</th>
            <th style="text-align:center;" scope="col">Name</th>
<!--            <th style="text-align:center;" scope="col" >Total_Quantity</th>-->
            <th style="text-align:center;" scope="col" >Available_Quantity</th>
            <th style="text-align:center;" scope="col">Sell_Quantity</th>
            <th style="text-align:center;" scope="col">Buy_Rate</th>
            <th style="text-align:center;" scope="col">Sell_Rate</th>
            <th style="text-align:center;" scope="col">Update</th>
            <th style="text-align:center;" scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for i in All_items %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.title}}</td>
<!--            <td>{{i.Quantity}}</td>-->
            <td>{{i.Available}}</td>
            <td>{{i.Sell}}</td>
            <td>{{i.Buy_rate}}</td>
            <td>{{i.Sell_rate}}</td>
            <td><a style="color:black;" href="{% url 'up_stock'  n=i.title sp=i.Sell q=i.Available br=i.Buy_rate %}">Update</a></td>
            <td><a style="color:black" href="{% url 'del_stock' name=i.title %}">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}
